<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Accounting</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>com.accounting.controller.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/Controller</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>signin-page</servlet-name>
		<jsp-file>/pages/signIn.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>signin-page</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>signup-page</servlet-name>
		<jsp-file>/pages/signUp.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>signup-page</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>profile-page</servlet-name>
		<jsp-file>/pages/user/profile.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>profile-page</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>CharsetFilter</filter-name>
		<filter-class>com.accounting.filter.CharsetFilter</filter-class>
		<init-param>
			<param-name>charsetEncoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharsetFilter</filter-name>
		<url-pattern>/Controller</url-pattern>
	</filter-mapping>
	<!-- <filter>
		<filter-name>NoCacheFilter</filter-name>
		<filter-class>by.epam.shop.filter.NoCacheFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
	<filter>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>com.accounting.filter.SecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
</web-app>